add_newline = true

[time]
disabled = false
format = '{{ clock }} [$time]({{ main_color }}) '

[character]
success_symbol = "[➜]({{ main_color }}) "
error_symbol = "[✗](bold red) "

[username]
disabled = false
style_user = "italic {{ main_color }}"
style_root = "italic red"
format = "{{ mausi }} [$user]($style) "
show_always = true

[hostname]
disabled = false
ssh_only = false
format =  "on [{{ pi_name }}](bold {{ main_color }}) in "

[directory]
truncation_length = 0
truncate_to_repo = false
style = "italic {{ main_color }}"
